@using DeNew.Models.ViewModels
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!--[if lte IE 8]><script src="~/js/ie/html5shiv.js"></script><![endif]-->
    @*<link rel="stylesheet" href="~/css/main.css" />*@
    <link href="~/css/admin.css" rel="stylesheet" />

    @*<script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>

    <script src="~/js/main.js"></script>*@
    <script src="~/js/selectorsManager.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    @RenderSection("scripts", required: false)
</head>
<body>
<div>
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

</body>
</html>
