@model DeNew.Models.ViewModels.PageViewModel

@{
    ViewBag.Title = Model.Name; /*"Дубна-экспресс, дачное благоустройство, строительство";*/
    ViewBag.Description = Model.MetaDescription; //"Дубна-экспресс, дачное благоустройство, строительство";
    ViewBag.Keywords = Model.Keywords; //"Благоустройство, Дубна, строительство, дачи, дубна-экспресс, заборы, бытовки, вскопка участка, газоны, ямы";
}

<h1>
    @Model.Name
</h1>
<p>@Html.Raw(Model.Content)</p>

@if (Model.SubPages.Any())
{
    <section class="tiles">
        @foreach (var item in Model.SubPages.OrderBy(cat => cat.OrderNum))
        {
            <article class="style3">
                <span class="image">
                    <object data="/images/preview/imgStub.jpg" type="image/png">
                        <img src="@item.ImagePath" alt="" />
                    </object>
                </span>
                <a href="/@item.Link">
                    <h2>@item.Name</h2>
                    <div class="content">
                        <p>@item.Description</p>
                    </div>
                </a>
            </article>
        }

    </section>
}